In [22]:
import pandas as pd
gdp = pd.read_csv('cbn.csv')

In [23]:
gdp

,tyear,Period,Agriculture,CropProduction,Livestock,Forestry,Fishing,Industry,CrudePetroleumAndNaturalGas,SolidMinerals,...,FinanceAndInsurance,RealEstate,ProfessionalScientificAndTechnicalServices,AdministrativeAndSupportServicesBusinessServices,PublicAdministration,Education,HumanHealthAndSocialServices,ArtsEntertainmentAndRecreation,OtherServices,TOTAL_GDP
0,1981,Annual,2364373.15,1854764.44,341411.50,77897.99,90299.23,6603250.12,4977416.70,67136.73,...,282170.74,1063959.81,421381.98,3234.81,807075.54,242555.85,110697.65,4561.07,132700.20,15258004.34
1,1982,Annual,2425960.89,1897078.85,361115.70,73910.25,93856.08,6272828.03,4453093.63,54840.50,...,372267.76,1074049.33,423670.54,3252.38,825921.69,248219.81,113282.57,4597.76,133767.58,14985078.32
2,1983,Annual,2409081.92,1842704.31,393131.01,75282.78,97963.82,5264881.39,4052977.68,44014.84,...,336896.50,1086703.98,481170.73,3693.79,844767.84,253883.77,115867.49,4324.58,125819.69,13849725.17
3,1984,Annual,2303505.42,1759115.15,399685.38,76694.14,68010.74,5621181.44,4559196.21,43078.37,...,267287.62,1086931.99,518359.90,3979.28,863613.99,259547.73,118452.41,3543.43,103092.67,13779255.49
4,1985,Annual,2731062.47,2180907.71,428102.85,78082.45,43969.46,6379599.38,4918272.50,44539.09,...,254993.44,1091378.22,602464.66,4624.92,882460.14,265211.69,121037.33,3395.55,98790.30,14953913.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2018,Q4,4978775.48,4486166.16,341002.97,50038.06,101568.29,3063097.13,1344156.80,32523.95,...,517927.07,1256847.82,706613.23,3937.63,427538.21,478161.40,123769.86,37338.61,696777.64,19041437.59
73,2018,Annual,17544147.74,15786437.68,1208128.04,182747.93,366834.08,12513067.38,5995875.07,96602.02,...,2094676.55,4471861.75,2544135.68,14440.88,1531581.82,1507561.07,472701.60,156484.02,2360640.98,69799941.95
74,2019,Q1,3597916.08,3144587.69,294971.65,42265.37,116091.37,3135524.31,1514641.29,12421.19,...,527749.58,916064.55,574481.80,3355.32,307550.32,346165.27,112506.18,50489.39,694742.66,16434552.65
75,2019,Q2,3857705.59,3443607.45,283559.35,49559.78,80979.01,3082294.97,1519802.94,24969.86,...,537150.37,1088267.52,602156.45,3392.34,367112.43,300161.48,120126.87,38677.98,537845.35,16931434.89
76,2019,Q3,5408978.92,4994729.88,291218.38,44980.39,78050.27,3447096.58,1806746.96,23764.98,...,461049.43,1148470.43,660127.24,3988.47,367755.38,391169.57,118468.79,34619.58,465381.99,18494114.17

In [24]:
max(gdp['Agriculture'])
max(gdp['Forestry'])
max(gdp['CropProduction'])
max(gdp['Forestry'])
max(gdp['Livestock'])
max(gdp['Forestry'])
max(gdp['Fishing'])
max(gdp['Forestry'])
max(gdp['Industry'])
max(gdp['Forestry'])
max(gdp['RealEstate'])
max(gdp['Forestry'])
max(gdp['Education'])

1518933.09

In [28]:
dtr = gdp[(gdp['tyear']>=1985) & (gdp['tyear']<=2001)]
dtr[['tyear','Agriculture','Industry','Forestry']]

    tyear  Agriculture    Industry  Forestry
4    1985   2731062.47  6379599.38  78082.45
5    1986   2986835.38  6234407.31  86594.92
6    1987   2891672.33  6135330.33  87594.28
7    1988   3174567.62  6474984.23  88907.95
8    1989   3325947.09  7100757.71  67307.31
9    1990   3464716.26  8531586.58  72613.57
10   1991   3590837.44  8094631.17  74791.90
11   1992   3674792.83  8170469.68  76512.11
12   1993   3743665.81  8122084.58  78042.40
13   1994   3839675.45  7917396.42  80071.46
14   1995   3977381.94  7985544.28  81832.93
15   1996   4133548.21  8450310.20  82241.90
16   1997   4305679.63  8561916.92  82982.17
17   1998   4475241.38  8515828.80  83977.89
18   1999   4703643.68  8031917.62  85070.09
19   2000   4840971.20  8808652.44  86346.14
20   2001   5024542.11  9351860.34  88072.90

In [ ]:
gdp[(gdp['tyear']>=1981) & (gdp['tyear']<=1985)] b